.about-third-section-container {
    height: 85vh;
    background-color: #121E1D;
}

.about-third-left-container{
    display: flex;
    justify-content: end;
}

.vector11 {
    margin-top: -35.5px;
    width: 477px !important;
}

.about-third-right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 10%;
}

.about-third-title {
    font-size: 47px;
    font-weight: 700;
    color: white;
}

.about-third-description {
    color: white;
    letter-spacing: 0.4px;
    line-height: 27px;
}