.navbar-menu {
    padding: 0% 5%;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.nav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-weight: 500;
}

.nav-item:hover {
    border-bottom: 1.5px solid black;
}

@media screen and (min-width: 200px) {
    .navbar-menu {
        height: 8vh;
    }

    .nav-logo{
        width: 0px !important;
    }
}

@media screen and (min-width: 576px) {
    .navbar-menu {
        height: 5vh;
    }

    .nav-logo {
        width: 120px !important;
    }
}

@media screen and (min-width: 860px) {
    .navbar-menu {
        height: 11vh;
    }

    .nav-logo {
        width: 170px !important;
    }
}