/* container */
.first-main-container {
    background-image: linear-gradient(to right, #04B2A9, #19DB92);
    height: 89vh;
}

/* left container */
.first-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 8%;
}

.first-left-sub-container {
    gap: 25px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.first-title {
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 50px;
}

.first-description {
    color: white;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
}

.first-explore-btn {
    width: 40%;
    background: transparent;
    color: white;
    font-size: 13px;
    height: 40px;
    border: 1px solid white;
}

.first-explore-btn:hover {
    background-color: white;
    border-color: #04B2A9 !important;
    color: #04B2A9 !important;
}

/* right container*/
.first-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector1 {
    width: 350px !important;
    height: 350px !important;
}

.vector2 {
    position: absolute;
    top: -190px;
    left: -360px;
    width: 360px !important;
    height: 360px !important;
}